* {
  font-family: "Roboto Mono", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #191919;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.timer {
  text-align: center;
}

#timerDisplay {
  margin-bottom: 0.5rem;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

button {
  background-color: #191919;
  color: white;
  padding: 0.6rem 1.8rem;
  border: 1px solid #3b3b3b;
  border-radius: 3px;
}

button:hover {
  background-color: #262626;
}
